
![](CintillaTecNM-ITD.png)



# Analítica de Datos en las Organizaciones

# Docente: José Gabriel Rodríguez Rivas


# Unidad II   Introducción a los Datos


## Práctica de laboratorio: cómo trabajar con Python y SQLite

In [1]:
# this is the library to talk to the database
import sqlite3
import pandas as pd
# this is a library for data visualization
from matplotlib import pyplot as plt

Para ejecutar una consulta en la base de datos, necesitaremos utilizar el cursor que acabamos de crear y el método ‘execute()’. Este método toma como entrada una cadena que contiene la consulta que nos interesa. Podemos guardar la cadena en una variable; llamémosla ‘query’. Ejecute el método de esta manera:

    cur.execute(query)

La tabla sobre la que queremos consultar no tiene una excelente visualización, así que SELECCIONAREMOS sólo la columna DateTime, que contiene la fecha y la hora de las mediciones. LIMITAREMOS la cantidad de filas extraídas por la consulta a 10.

###### b) Ejecute una consulta. 
Seleccione las primeras 10 filas de la columna DateTime. 

Sugerencia: Si desea revisar el nombre de las tablas en su base de datos, vuelva a la línea de comandos interactiva y utilice este código:
    
    .tables

In [2]:
conn = sqlite3.connect('c:/temp/phonebook.db')

In [3]:
cur = conn.cursor()

In [4]:
consulta = "SELECT * FROM coworkers;"
cur.execute(consulta)

In [5]:
for row in cur:
    print(row)

(101, 'Han Solo', 'Bounty Hunter', 5556667578.0)
(102, 'Leia Skywalker', 'Princess', 5556542398.0)
(103, 'Luke Skywalker', 'Jedi', 5558963267.0)
(104, 'Obi-Wan Kenobi', 'Jedi', 5558963276.0)
(105, 'Anakin Skywalker', 'Sith Lord', 5553477621.0)
(106, 'Jabba The Hutt', 'Gangster', 5556613456.0)
(107, 'Greedo', 'Debt Collector', 5552360918.0)
(108, 'R2D2', 'Astro Droid', 5555210125.0)
(109, 'C3PO', 'Protocol Droid', 5556633345.0)

### Desafio

In [6]:
##   Proporcione el código para consultar los nombres de todas las princesas.
consulta = "SELECT nombre FROM coworkers where título='Princess' ;"
cur.execute(consulta)
for row in cur:
    print(row)

('Leia Skywalker',)

In [7]:
## 2) Proporcione el código para consultar los nombres de todas
# las princesas y los recaudadores.

consulta = "SELECT nombre FROM coworkers where título='Princess' ;"
cur.execute(consulta)
for row in cur:
    print(row)

('Leia Skywalker',)

In [8]:
##  3) Proporcione el código para consultar los nombres y los números
#  de todos los Jedi.

consulta = "SELECT nombre FROM coworkers where título='Princess' ;"
cur.execute(consulta)
for row in cur:
    print(row)

('Leia Skywalker',)

In [11]:
### 4) Proporcione el código para consultar los nombres de los droids.

consulta = "SELECT nombre, título FROM coworkers where título like '%Droid%' ;"
cur.execute(consulta)
for row in cur:
    print(row)

('R2D2', 'Astro Droid')
('C3PO', 'Protocol Droid')